{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
  
    <h1 class="display-2 text-center">Django App</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, velit eius. Nulla doloremque corrupti corporis obcaecati voluptate earum quia praesentium. Blanditiis, fugiat distinctio aspernatur sed magni similique provident voluptates explicabo.
    </p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">
        Signin
      </a>
      <a class="btn btn-primary" href="/signup/">
        Signup
      </a>
    </div>

</section>
</main>

{% endblock %}
